@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, candidate!</h1>


The Goal
<p>
    RMS has a project where we monitor Mobile Network Tower Sites On behalf of a number of clients.
</p>


<p>Each tower is owned by 1 Client.</p>
<p>Each tower has a number of consumers  - known as Mobile Network Operators (MNO) who rent space on the tower.</p>
<p>Each client has a set of appointed contractors who provided repair services for that client.</p>

<p>With the increase in Load Shedding, tower batteries are often not lasting long enough as MNO's then call RMS
    to query the site status.
</p>

<p>This App is meant to provide a platform for MNOs to log a query  - known as Ticket - on a site(tower).</p>

<p>The client for that tower must then have the ability to assign that Ticket to one of their Contractors.</p>

<p>The Contractor will then repair the Site and and provided feedback.</p>


<p>A graphql api is available on https://demographqlserver.azurewebsites.net/graphql for providing the following information</p>

<li>List of Clients</li>

<li>List of Sites</li>

<li>List of Sites per Client</li>
<li>List of Contractors per Client</li>

<li>List of Consumers per Site</li>